.hero {
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0.2),rgba(0,0,0,0));
  transform: rotate(15deg);
  width: 500px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bosta {
  background: linear-gradient(to right,#fed15e, #4c4227, #fff);
  
}