.hero { 
  overflow: hidden;
  padding-inline: 2rem;
}

.hero_flex {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero_img {
  background-color: aliceblue;
}