---
import { navLinksItems } from "../../mocks/data/menu"
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<style>
  .teste {
    filter: brightness(0) saturate(100%) invert(67%) sepia(47%) saturate(258%) hue-rotate(169deg) brightness(86%) contrast(82%);
  }

  .active {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #5E81AC, #111827);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #5E81AC, #111827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 1rem;
  }

  .active img {
    filter: none;
  }
</style>


  {
    navLinksItems.map((item) => (
    <li class={
      `max-w-max flex items-center justify-center 
      ${currentPath === item.slug.slice(1) ? 'active' : ''}`
    }>
      <a href={item.slug}>
        <img 
          src={item.icon} 
          alt="" 
          width="24px" 
          height="24px" 
          class={`teste hover:filter-none transition duration-150 ease-out hover:ease-in`}
        >
      </a>
    </li>
    ))
  }

