---
import { CardMatchOfDay } from "../../components/CardMatchOfDay";
import SectionTitle from "./SectionTitle.astro";
---

<style>
  .top-goals > div {
    margin-block-start: 1rem;
  }

  .top-goals > div:last-child {
    margin-block-end: .8rem;
  }
</style>

<section class={`
  top-goals 
  col-span-full md:col-span-1 sm:row-span-3 
  px-4 py-2
dark:bg-gray-900 bg-nord-snow-storm-500 
  rounded
`}>
  <SectionTitle title="Jogos do Dia" />
  <div class="
    sticky top-0 bg-scroll shadow-lg shadow-gray-900 
    w-full h-4 -mb-4 
    transition-opacity duration-300" 
  />
  <div class="h-96 carousel carousel-vertical">
   
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div> 
    <div class="carousel-item">
      <CardMatchOfDay client:load/>
    </div>
  </div>
  <div class="
  sticky bottom-0 bg-scroll shadow-xl shadow-gray-900  
  w-full h-4 -mt-8 rotate-180 
  transition-opacity duration-300
  "
  />
</section>