---
import SectionTitle from "./SectionTitle.astro";
---

<section class="drop-shadow-lg col-span-full overflow-hidden px-4 py-2 dark:bg-gray-900 dark:text-nord-snow-storm-100 rounded">
  <SectionTitle title="Geral" />
  <div>Top Scorers</div>
  <div>Top Assistant</div>
  <div>Most Red Cards</div>
  <div>Top Passes</div>
</section>