---
import SectionTitle from "./SectionTitle.astro";
import {StandingTable} from '../../components/StandingTable'
---

<section class="col-span-full sm:row-span-3 px-4 py-2 dark:bg-gray-900 bg-nord-snow-storm-500 p-4 rounded">
  <SectionTitle title="Classificação" />
  <StandingTable />
</section>