---
import { Hero } from "../components/Hero";
import { SelectLeague } from "../components/SelectLeague";
import FooterLayout from "./FooterLayout.astro";
import Header from "./HeaderLayout.astro";
import SideBarMenuLayout from "./SideBarMenuLayout.astro";

const {title} = Astro.props
---

<style>
.wrapper {
	padding-inline: 2rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

</style>


<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="min-h-screen overflow-x-hidden">
		<!-- <Header>
			<h1>Escolha a competição:</h1>
			<SelectLeague client:load/>
		</Header> -->
		
				
		
		<div class="flex h-full mb-16 md:mb-4 flex-col md:grid md:grid-cols-new2">
			<div>
				<SideBarMenuLayout />
			</div>
			<div class="flex-1 container mx-auto px-4">
				<main>
					<Hero client:load/>
					<div class="flex flex-col gap-4 md:grid md:grid-cols-3 md:gap-4">
						<slot />
					</div>
				</main>
			</div>
		</div>
		<script src="/src/index.ts"></script>
	</body>
</html>
