---
import FooterLayout from "./sections/FooterLayout.astro";
import Header from "./sections/HeaderLayout.astro";
import SideBarMenuLayout from "./navbar/SideBarMenuLayout.astro";

const {title} = Astro.props
---

<style is:global>

	/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 #3B4252;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3B4252;
  border-radius: 14px;
  border: 3px solid #111827;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-track-piece {
  background-color: #111827;
}

::-webkit-scrollbar-corner {
  background-color: #111827;
}
</style>


<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="
		bg-nord-polar-night-900
		min-h-screen 
		overflow-x-hidden
		dark:bg-gradient-to-tr from-nord-polar-night-700 to-gray-800
		dark:text-nord-snow-storm-500
		text-nord-polar-night-900
	">
		<div class="flex h-full mb-6 md:mb-4 flex-col md:grid md:grid-cols-new2">
			<div>
				<SideBarMenuLayout />
			</div>
			<div class="flex-1 container mx-auto px-4">
				<main>
					<Header />
					<!-- <Hero client:load/> -->
					<div class="flex flex-col gap-4 md:grid md:grid-cols-3 md:gap-4">
						<slot />
					</div>
				</main>
			</div>
		</div>
		<FooterLayout />
		<script src="/src/index.ts"></script>
	</body>
</html>
