---
---

<style>

  .premier-league-border {
    background: linear-gradient(to right,#3D195B, #ECEFF4, white)
  }

  .bundesliga-border {
    background: linear-gradient(to right,red, #4c4c4c, white)
  }
</style>

<div class="">
  <div class="mx-auto w-full rounded-lg premier-league-border p-0.5">
    <div class="flex flex-col h-full rounded-lg bg-gray-800">
      <slot />
    </div>
  </div>
</div>