---
import { CardMatch } from "../components/CardMatch/CardMatch";
import SectionTitle from "./SectionTitle.astro";
---

<section class="col-span-full px-4 py-2 dark:bg-gray-800 dark:text-nord-snow-storm-100  p-4 rounded">
  <SectionTitle title="Jogos do Dia" />
  <CardMatch client:load>
    <p>PORRA</p>
  </CardMatch>
</section>