---
import { CardMatch } from "../components/CardMatch/CardMatch";
import CardMatchsLayout from "./CardMatchsLayout.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section class="drop-shadow-lg col-span-full overflow-hidden px-4 py-2 dark:bg-gray-900 dark:text-nord-snow-storm-100  p-4 rounded">
  <SectionTitle title="Jogos do Dia" />
  <CardMatchsLayout />
</section>