---
import SectionTitle from "./SectionTitle.astro";

---

<section class="col-span-full px-4 py-2 border dark:border-nord-polar-night-100 border-nord-snow-storm-500 p-4 rounded">
  <SectionTitle title="Jogos do Dia" />
</section>