---

---

<aside class="fixed bottom-0 w-full md:w-16 md:h-screen p-3 gap-5 bg-indigo-500">
  <!-- <a href="#">
    <h1 class="text-nord-snow-storm-500">FootS</h1>
  </a> -->
  
    <ul class="flex justify-center items-center md:flex-col md:h-full text-slate-400 gap-4">
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
    </ul>
</aside>