---

---

<aside class="h-full px-4 py-2 fixed hidden sm:block dark:bg-nord-polar-night-500 bg-nord-snow-storm-300 ">
  <a href="#">
    <h1 class="text-nord-snow-storm-500">FootS</h1>
  </a>
  <div class="h-full flex flex-col items-center justify-center">
    <ul class="text-slate-400 flex flex-col gap-4">
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
      <li class="transition ease-in-out delay-150 hover:text-nord-snow-storm-300">
        <a href="#">Item 1</a>
      </li>
    </ul>
  </div>
</aside>