---
import SectionTitle from "./SectionTitle.astro";

---

<section class="col-span-full md:col-span-1 px-4 py-2 dark:bg-gray-800 bg-nord-snow-storm-500 p-4 rounded">
  <SectionTitle title="Classificação" />
</section>