---
import { CardMatch } from "../components/CardMatch/CardMatch";
import SectionTitle from "./SectionTitle.astro";

---

<section class="col-span-full md:col-span-2 sm:row-span-3 px-4 py-2 dark:bg-gray-900 bg-nord-snow-storm-500 p-4 rounded">
  <SectionTitle title="Classificação" />
  <p>PORRA</p>
</section>