---
import SectionTitle from "./SectionTitle.astro";

---

<section class="px-4 py-2 col-start-1 col-end-3 border dark:border-nord-polar-night-100 border-nord-snow-storm-500 p-4 rounded">
  <SectionTitle title="Classificação" />
</section>